%h1 Listing columns

%table
  %thead
    %tr
      %th Board
      %th Column title
      %th Limit
      %th
      %th
      %th

  %tbody
    - @columns.each do |column|
      %tr
        %td= column.board.board_title
        %td= column.column_title
        %td= column.limit
        %td= link_to t('show'), column
        %td= link_to t('edit'), edit_column_path(column)
        %td= link_to t('destroy'), column, method: :delete, data: { confirm: t('confirmation') }

%br
