= form_for @card do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@card.errors.count, "error")} prohibited this card from being saved:"
      %ul
        - @card.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :column
    %p= @card.column.column_title
    = f.hidden_field :column_id, value: @card.column.id
  .field
    = f.label :card_title
    = f.text_field :card_title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :topic
    = f.text_field :topic
  .field
    = f.label :card_type
    = f.text_field :card_type
  .actions
    = f.submit t('save')
