%h1 Listing cards

%table
  %thead
    %tr
      %th Column
      %th Card name
      %th Description
      %th Topic
      %th Type
      %th
      %th
      %th

  %tbody
    - @cards.each do |card|
      %tr
        %td= card.column
        %td= card.card_name
        %td= card.description
        %td= card.topic
        %td= card.type
        %td= link_to 'Show', card
        %td= link_to 'Edit', edit_card_path(card)
        %td= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Card', new_card_path
