%h1 Listing cards

%table
  %thead
    %tr
      %th Column
      %th Card name
      %th Description
      %th Topic
      %th Type
      %th
      %th
      %th

  %tbody
    - @cards.each do |card|
      %tr
        %td= card.column.column_title
        %td= card.card_title
        %td= card.description
        %td= card.topic
        %td= card.card_type
        %td= link_to t('show'), card
        %td= link_to t('edit'), edit_card_path(card)
        %td= link_to t('destroy'), card, method: :delete, data: { confirm: t('confirmation') }

%br
